################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommandsExtender/bin/Debug
/CommandsExtender/obj/Debug
/packages/StyleCop.Analyzers.1.1.118
/CommandsExtender/obj/Release
/CommandsExtender/bin/Release
